.flex-container{
    top:0px;
    bottom:0;
    right:0px;
    left:0;
    display: flex;
    background: white;
    position: absolute;
    flex-direction: column;
}

.tittle-field{

    flex:1;
    background: turquoise;
    padding: 10px;
    font-size: 12px;

}
.toolbar-field{

    flex:1;
    align-items: center;
    padding: 1px;
    font-size: 12px;
    justify-content: center;
    

    p{

        display: inline;

    }
    
}
.table-field{

    flex:8;
    overflow: auto;
    background: grey;
    border-top: gray 1px solid;
    border-bottom: turquoise 1px solid;
    
}
.details-field{

    flex:9;
    overflow: auto;
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.mat-form-field{

    width: 10%;
    margin-right: 10px;
}

.date2{

    margin-left: 10px;
}

.table-search{

    border-radius: 15px;
    margin-left: 10px;
    padding-left:5px;
}
.mat-paginator{

    width: 35%;
    height: 50%;
    margin:auto;
    align-items: center;
    display: inline-block;
    padding: 10px;
}

table {
    width: 100%;
    
  }

 .details-field> .div-tittle{

    flex: 1;
    font-size: 12px;
    padding-left: 10px;

 } 
 .details-field> .div-content{

    flex: 7;

 } 
 .div-content{

    overflow: auto;
    display: flex;
    flex-wrap: wrap;
 }
 .div-content> .data-surat{

    flex:1;

 }
 .div-content> .log-disposisi{

    flex:1;

 }
 .data-surat{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    padding-top: 5px;
 }
 .data-surat> .datasurat-tittle{

    width: 500px;
    background: red;
    font-size: 12px;
    margin-left: 20px;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex:1;
        p{

            color: white;
        }

 }
 .data-surat> .datasurat-content{
    border-style: solid;
    flex:7; 
    margin-left: 20px;
    width: 493px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    

 }

 .log-disposisi{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    padding-top: 5px;
    
 }
 .log-disposisi> .logdisposisi-tittle{

    width: 500px;
    background: red;
    font-size: 12px;
    margin-left: 20px;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 1px;
    flex:1;

    
        p{

            color: white;
        }

 }
 .log-disposisi> .logdisposisi-content{
    border-style: solid;
    flex:7; 
    margin-left: 20px;
    width: 508px;
    border-width: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 1px;
    
}

.labels{

    display: inline;
}

.datasurat-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 10px;
 }
 .datasurat-content> div{

    flex:1;
 }

 .logdisposisi-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 10px;
 }

.logdisposisi-content> .per-content{

    flex:1;
}

.per-content{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding-top: 10px;
 }

 .per-content> .divimage{

    flex: 1;

 }
 .per-content> .divnote{

    flex: 3;

 }
 .userdisposisi{
            max-width: 48px;
            max-height: 48px;
            border-radius: 50%;
            margin-left: 40px;    

 }
 .labels-petunjuk{
    display: inline;
}
.excelicon{
    max-width: 24px;
    max-height: 24px;
    float: right;
    margin-top: 25px;
    margin-right:5px;
 
}
