.flex-container{

    width: 85%;
    height: 10%;
    display: flex;
    background: #f4d142;
    align-items: center;
    margin-left: 200px;
}

.logo{

padding: 15px;
flex:1;
display: inline;
}

.login{

flex:2;
display: flex;
flex-direction: column;

}
.login > div{

    flex:1;
    
    }
.logo>p{

    display: inline;
    font-size: 25px;
}
    